In [1]:
import pandas as pd

In [2]:
dtypes = {
    "ViolationID":"str",
    "BuildingID":"str"
    
}


housing_data = pd.read_csv("../data/Housing_Maintenance_Code_Violations-2.csv",
                          dtype=dtypes
                          )

In [4]:
housing_data

,ViolationID,BuildingID,RegistrationID,BoroID,Borough,HouseNumber,LowHouseNumber,HighHouseNumber,StreetName,StreetCode,...,ViolationStatus,RentImpairing,Latitude,Longitude,CommunityBoard,CouncilDistrict,CensusTract,BIN,BBL,NTA
0,14765843,383387,301172,3,BROOKLYN,1635,1635,1635,UNION STREET,86530,...,Close,N,40.668096,-73.935991,9.0,35.0,353.0,3037536.0,3.013950e+09,Crown Heights North
1,14765669,415206,401336,4,QUEENS,23,23,23,29 AVENUE,7690,...,Open,N,40.769659,-73.925409,1.0,22.0,71.0,4006216.0,4.005460e+09,Astoria (Central)
2,14765670,415206,401336,4,QUEENS,23,23,23,29 AVENUE,7690,...,Open,N,40.769659,-73.925409,1.0,22.0,71.0,4006216.0,4.005460e+09,Astoria (Central)
3,14765671,415206,401336,4,QUEENS,23,23,23,29 AVENUE,7690,...,Open,N,40.769659,-73.925409,1.0,22.0,71.0,4006216.0,4.005460e+09,Astoria (Central)
4,14765672,415206,401336,4,QUEENS,23,23,23,29 AVENUE,7690,...,Open,N,40.769659,-73.925409,1.0,22.0,71.0,4006216.0,4.005460e+09,Astoria (Central)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858528,15745844,9930,112481,1,MANHATTAN,310,310,314,CONVENT AVENUE,15910,...,Close,N,40.823108,-73.947364,9.0,7.0,227.0,1061253.0,1.020580e+09,Hamilton Heights-Sugar Hill
858529,15961505,72048,714558,2,BRONX,633,633,633,EAST 233 STREET,28620,...,Open,N,40.894112,-73.859592,12.0,11.0,420.0,2068047.0,2.049940e+09,Wakefield-Woodlawn
858530,15961494,505903,407461,4,QUEENS,35,35,35,95 STREET,18840,...,Open,N,40.752798,-73.872544,3.0,21.0,27302.0,4036191.0,4.014690e+09,Jackson Heights
858531,15645552,490087,400045,4,QUEENS,139-05,139-05,139-05,85 DRIVE,17240,...,Open,N,40.708812,-73.816645,8.0,24.0,214.0,4207717.0,4.097110e+09,Jamaica Hills-Briarwood
858532,15645611,806375,203973,2,BRONX,1259,1251,1273,CLAY AVENUE,20020,...,Open,N,40.833578,-73.909940,4.0,16.0,17701.0,2002176.0,2.024310e+09,Concourse-Concourse Village

In [5]:
bad_landlords = housing_data.groupby(
    ["BuildingID"]
    )["ViolationID"].count(
   
    ).reset_index(
).sort_values(
        by="ViolationID",
        ascending = False
)

bad_landlords

       BuildingID  ViolationID
115925      77561          664
3093       111995          663
108786     680758          637
2382       109323          546
2717       110409          531
...           ...          ...
109393     685236            1
46495      305123            1
46494      305120            1
109397     685245            1
146548     999998            1

[146549 rows x 2 columns]

In [6]:
bad_landlords.describe()

         ViolationID
count  146549.000000
mean        5.858334
std        16.657561
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max       664.000000